<h2 class="countryName">{{name}}</h2>
<img class="countryFlag" src="{{flag}}" alt="flag" width="300">
<p class="capital">Capital: {{capital}}</p>
<p class="population">Population: {{population}}</p>
<ul class="lenguages">Languages:
    {{#each languages}}
    <li>{{name}}</li>
    {{/each}}
</ul>